.vscode/*
.vs/
Project.Base/.vs
.git/*
Project.Base.Repository/obj
Project.Base.Domain/obj
Project.Base.Enumerators/obj
Project.Base.Contracts/obj
Project.Base.Contracts/bin
Project.Base.Repository/bin
Project.Base.Domain/bin
Project.Base.Enumerators/bin
*.v2
.vs/Project.Base/v17/.suo
*.bin
